.footer {
  position: relative;
  background-color: rgb(86, 93, 97);
  // color: #242a30;
  color: white;
    font-family: "Proxima", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}