.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 10px 10px 10px;
  // z-index: 1;
}

.logolink {
  max-width: 150px;
  // display: flex;
  // justify-content: start;
  float: left;
}

.logo { 
  max-width:100%;
  max-height:100%;

  // background-image: url("https://i.imgur.com/7FP232c.png");
    // object-fit: cover;
    // object-position: 100% 40%;
}

.navButtons{
  // display: flex;
  // justify-content: end;
  float: right;
}


.login{
  color: rgb(146, 160, 195);
  background-color: rgb(41, 36, 135);
  font-family: 'Exo 2', sans-serif;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  padding: 8px 50px;  
  margin: 10px;
  text-decoration: none;
  border-radius: 30px;
}

.login:hover{
  background-color: rgb(74, 181, 99);
  color: rgb(255, 255, 255);
}

.signup{
  color: rgb(146, 160, 195);
  background-color: rgb(41, 36, 135);
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  padding: 8px 45px;
  margin: 10px;
  text-decoration: none;
  border-radius: 30px;
  
}

.signup:hover {
  background-color: rgb(74, 181, 99);
  color: rgb(255, 255, 255);
}