.taskform-header-top{
  display: flex;
  justify-content: space-around;
}

.taskform-header-top{
  background-color: honeydew;
}

.taskform-middle-container{
  // background-color: rgba(233, 231, 231, 0.379);
  //   width: 80%;
  // margin: auto;
}

.form-address{
  background-color: white;
  width: 50%;
  margin: auto;

}
.task-options{
  background-color: white;
  width: 50%;
  margin: auto;
}
.task-details{
  background-color: white;
  width: 50%;
  margin: auto;
}

.testingfooter{

}




.taskform-header-bottom{
  text-align: center;
}

.taskform-container{
    background-image: url('https://upload-os-bbs.mihoyo.com/upload/2020/09/14/1013950/ec652a6ea054df9bd3c16da8a62756b5_5943270740035137873.jpg?x-oss-process=image/resize,s_740/quality,q_80/auto-orient,0/interlace,1/format,jpg');
  // background-image: url('https://i.imgur.com/CkSRmCB.jpg');
  // background-image: url('https://upload-os-bbs.mihoyo.com/upload/2020/09/14/1013950/b64635d0e00e6dcb98db652903e489b4_1770408859803527337.jpg?x-oss-process=image/resize,s_740/quality,q_80/auto-orient,0/interlace,1/format,jpg');
  // background-image: url('https://upload-os-bbs.mihoyo.com/upload/2020/09/14/1013950/ec652a6ea054df9bd3c16da8a62756b5_5943270740035137873.jpg?x-oss-process=image/resize,s_740/quality,q_80/auto-orient,0/interlace,1/format,jpg');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.tasktime{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.options-title{
  border-bottom: 1px solid black;
}
.vehicle-list{
  // display: flex;
  // justify-content: space-around;
  list-style-type: none;
}